@model Jobify.Models.Recruiter

@{
    ViewBag.Title = "Details";
}
<div class="container" style="margin-top:7%;">
    <h2>Details</h2>

    <div>
        <h4>Recruiter</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Link)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Link)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.FullName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>