@model Jobify.Models.ResumeFile

@{
    ViewBag.Title = "ResumeFileEdit";
}
<div class="container" style="margin-top:7%;">
    <h2>ResumeFileEdit</h2>


    @using (Html.BeginForm("ResumeFileEdit", "JobseekerPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

          @Html.AntiForgeryToken()
        <h1 style="color:red;">@ViewBag.ext</h1>
          <div class="form-horizontal">
            <h4>ResumeFile</h4>
            <hr />
          
            @Html.HiddenFor(model => model.Id)



            <div class="form-group">
                Select File
                    <div class="col-md-10">
                        <input type="file" name="PdfFile" required />
                    </div>
            </div>

            @Html.HiddenFor(m => m.ResumeId)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
