@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item cta mr-md-1">
            </li>




        @if (User.Identity.IsAuthenticated && User.IsInRole("Recruiter"))
                    {
            <li class="nav-item nav-link m-1">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Hello @User.Identity.GetUserName()!
                    </button>
                    <div class="dropdown-menu text-danger">

                        <p class="dropdown-item">@Html.ActionLink("User Profile", "Index", "RecruiterPanel")</p>
                        <p class="dropdown-item">@Html.ActionLink("Recruiter Profile", "RecruiterProfile", "RecruiterPanel")</p>
                        <p class="dropdown-item">@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
</p>

                    </div>
                </div>


            </li>
        }
        @if (User.Identity.IsAuthenticated && User.IsInRole("Jobseeker"))
                    {
            <li class="nav-item nav-link m-1">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Hello @User.Identity.GetUserName()!
                    </button>
                    <div class="dropdown-menu text-danger">

                        <p class="dropdown-item">@Html.ActionLink("Profile", "Index", "JobseekerPanel")</p>
                        <p class="dropdown-item">@Html.ActionLink("Resume", "Resume", "JobseekerPanel")</p>
                        <p class="dropdown-item">@Html.ActionLink("Applied Jobs", "AppliedJob", "JobseekerPanel")</p>

                        <p class="dropdown-item">
                            @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </p>

                </div>
            </div>


        </li>
        }
       

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <li class="nav-item nav-link m-1">
                            @Html.ActionLink("Hello "+User.Identity.GetUserName()+" !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage",@class="btn btn-primary" })
          </li>
        }




<li class="nav-item cta cta-colored mt-3"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item cta mr-md-1">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="nav-item cta cta-colored">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

